@{
    ViewBag.Title = "Ana sayfa";
}

<h2>Kimiz?</h2>
<p>• Okulların Kariyer Ofislerini ortak bir çatı altında birleştirerek, öğrencilere ve firmalara fırsat eşitliği sunan bir web tabanlı kuruluştur. Paylaşılan deneyimler diğer adaylara mentörlük hizmeti vermektedir.</p>
<h2>Asıl Amaçlarımız</h2>
<p>
    •    Tüm ofislerde fırsat eşitliği
    •    Kariyer fırsatlarını kurumsallaştırmak
    •    İstihdam imkanlarının artması
    •    Başarı odaklı mentorlük
    •    Bilgi paylaşımı fırsatı
    •    Nitelikli ve deneyimli çalışanlar oluşturmaya ön ayak
    •    Sosyal networking
    •    Kariyer yönünü belirlemede kolaylık
    •    Kişisel markalaşma yönünde destekleyici nitelik
</p>
