
@{
    ViewBag.Title = "Mentör yorumları";
    // 
    //          bu sayfa tamamen static, ilerde diğer sayfalar gibi geliştirilecektir
    //
}

<h2>Mentör Yorumları</h2>

<table class="table" style="max-width: 300px; display: inline;">
    <tr>
        <td>
            <div class="card mb-3" style="width: 300px; height:700px">
                <h5 class="card-header">Had Fad</h5>
                <div class="">
                        <img style="height: 300px; width: 300px; display: block;" src=~/Content/bgImage/yorum.jpg class="spells " alt="Card image">
                </div>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Şirket Adı : ABC Şirketi</li>
                    <li class="list-group-item">Ofis Adı : Red SeniJuni Office</li>
                    <li class="list-group-item">Bölüm : Pazarlama</li>
                    <li class="list-group-item">Gün sayısı: 25</li>
                    <li class="list-group-item">Staj yararı: 10/7</li>
                    <li class="list-group-item">Staj katkıları: 10/10</li>
                    <li class="list-group-item">Çok başarılı bir dönem geçirdim.</li>

                </ul>
            </div>
        </td>
    </tr>
</table>


<table class="table" style="max-width: 300px; display: inline;">
    <tr>
        <td>
            <div class="card mb-3" style="width: 300px; height:700px">
                <h5 class="card-header">Zad Yad</h5>
                <div class="">
                    <img style="height: 300px; width: 300px; display: block;" src=~/Content/bgImage/yorum.jpg class="spells " alt="Card image">
                </div>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Şirket Adı : ABC Şirketi</li>
                    <li class="list-group-item">Ofis Adı : Red SeniJuni Office</li>
                    <li class="list-group-item">Bölüm : Bilişim</li>
                    <li class="list-group-item">Gün sayısı: 20</li>
                    <li class="list-group-item">Staj yararı: 10/8</li>
                    <li class="list-group-item">Staj katkıları: 10/10</li>
                    <li class="list-group-item">Çok başarılı bir dönem geçirdim.</li>

                </ul>
            </div>
        </td>
    </tr>
</table>

<table class="table" style="max-width: 300px; display: inline;">
    <tr>
        <td>
            <div class="card mb-3" style="width: 300px; height:700px">
                <h5 class="card-header">Ora dan</h5>
                <div class="">
                    <img style="height: 300px; width: 300px; display: block;" src=~/Content/bgImage/yorum.jpg class="spells " alt="Card image">
                </div>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Şirket Adı : ABC Şirketi</li>
                    <li class="list-group-item">Ofis Adı : Blue SeniJuni Office</li>
                    <li class="list-group-item">Bölüm : Hukuk </li>
                    <li class="list-group-item">Gün sayısı: 40</li>
                    <li class="list-group-item">Staj yararı: 10/3</li>
                    <li class="list-group-item">Staj katkıları: 10/5</li>
                    <li class="list-group-item">Firma bazlı çok başarısız bir staj dönemi geçirdim.</li>

                </ul>
            </div>
        </td>
    </tr>
</table>

<table class="table" style="max-width: 300px; display: inline;">
    <tr>
        <td>
            <div class="card mb-3" style="width: 300px; height:700px">
                <h5 class="card-header">Had Fad</h5>
                <div class="">
                    <img style="height: 300px; width: 300px; display: block;" src=~/Content/bgImage/yorum.jpg class="spells " alt="Card image">
                </div>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Şirket Adı : MMM University </li>
                    <li class="list-group-item">Ofis Adı : Yellow SeniJuni Office</li>
                    <li class="list-group-item">Bölüm : Bilgisayar Mühendislği</li>
                    <li class="list-group-item">Gün sayısı: 25</li>
                    <li class="list-group-item">Staj yararı: 10/5</li>
                    <li class="list-group-item">Staj katkıları: 10/5</li>
                    <li class="list-group-item">İyi bir dönem geçirdim.</li>

                </ul>
            </div>
        </td>
    </tr>
</table>






